body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/greyzz.png");
    font-family: "Yanone Kaffeesatz", sans-serif;
}

nav {
    background-color: #ffffff;
}

input {
    box-shadow: inset 0.5px 0.5px 1px;
}

.inputFocus {
    background: lemonchiffon;
}

.bookSearch {
    background-color: #ffffff;
}

#navbarNav {
    margin-left: 20px;
}

.navbar-nav li {
    width: 60px;
}

.activePage a {
    font-size: 1.5rem;
    font-weight: bold;
    color: darkred;
}

.activePage a:hover {
    text-decoration: none;
}

.inactive a {
    font-size: 1.25rem;
    font-weight: lighter;
    color: #444444;
    vertical-align: text-top;
}

.inactive a:hover {
    text-decoration: none;
    font-weight: normal;
    color: #000000;
}

.showResults {
    color: darkred;
    font-weight: bold;
}